body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: palevioletred;
  padding: 20px;
}

.link{
  color: black;
  padding: 10px;
  font-size: large;
}

.container{
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  padding: 10px;
}
.button{
  background-color: indianred;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.change{
  background-color: palevioletred;
}
